<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Page" />

	<f:section name="vars">
		<v:variable.set name="pageId" value="f3d" />
		<v:variable.set name="pageClass" value="home" />
	</f:section>

	<f:section name="Configuration">
		<flux:form id="f3d" icon="{f:uri.resource(path: 'Icons/Page/f3d.gif')}">
			<f:render section="Default" partial="Backend/PageForm" arguments="{_all}" />
		</flux:form>
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column colPos="99" colspan="3" label="Feature" />
			</flux:grid.row>
			<flux:grid.row>
				<flux:grid.column colPos="0" name="Main Content" label="Main Content"/>
				<flux:grid.column colPos="1" name="Secondary Content" label="Secondary Content (Content Block 2)" />
				<flux:grid.column colPos="2" name="Additional Content" label="Additional Content (Content Block 3)" />
			</flux:grid.row>
		</flux:grid>
	</f:section>

	<f:section name="Main">
		<f:render section="SecondaryContent" partial="ContentBlocks" optional="true" arguments="{_all}"/>
		<f:render section="MainContent" partial="ContentBlocks" optional="true" arguments="{_all}"/>
		<f:render section="TertiaryContent" partial="ContentBlocks" optional="true" arguments="{_all}"/>
	</f:section>
</div>
